.error {
  background-color: rgba(255, 99, 71, 0.3);
}

.errorMessage {
  color: red;
  font-size: 14px;
}

.name,
.card {
  display: flex;
  flex-direction: column;
}

.card .cardInput {
  padding-left: 50px;
}

.card {
  position: relative;
}

.cardImage {
  position: absolute;
  top: 18px;
  height: 48px;
  width: 48px;
}

.expSec {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}

.exp {
  display: flex;
  flex-direction: column;
}

.sec {
  display: flex;
  flex-direction: column;
}

.cardBilling {
  display: flex;
}

.cardBilling input {
  height: 30px;
  width: 30px;
}

.item {
  display: flex;
  flex-direction: column;
}

.cityZip {
  display: flex;
  justify-content: space-between;
}
