.error {
  background-color: rgba(255, 99, 71, 0.3);
}

.errorMessage {
  color: red;
  font-size: 14px;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 0.4em 0;
}

.item input,
.item select {
  border-radius: 6px;
  border-width: 1px;
  padding: 9px 12px;
  font-size: 16px;
  height: 48px;
  box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
}

.item label {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.card .cardInput {
  padding-left: 50px;
}

.card {
  position: relative;
}

.cardImage {
  position: absolute;
  top: 18px;
  height: 48px;
  width: 48px;
}

.expSec {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}

.cardBilling {
  display: flex;
}

.cardBilling input {
  height: 30px;
  width: 30px;
}

.cityZip {
  display: flex;
  justify-content: space-between;
}
