.pay {
  padding: 3em 0;
  margin: auto auto;
  max-width: 1000px;
}

.top {
  display: flex;
  justify-content: center;
}

.middle {
  display: flex;
  flex-direction: column;
}

.itemCart {
  display: flex;
  justify-content: center;
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10em 0;
}

.subtotal {
  display: flex;
  align-self: flex-end;
}

.margins {
  margin-left: 4em;
}

.shipping {
  align-self: flex-end;
  margin-bottom: 2em;
}

.button,
.empty_button {
  color: white;
  background-color: black;
}

.empty_button {
  max-width: 250px;
}

.button {
  max-width: 200px;
  align-self: flex-end;
}

.cart {
  font-size: 30px;
}

.image {
  filter: brightness(70%);
  height: 50vh;
}

.image span {
  display: block !important;
}

.banner {
  height: 100%;
}

@media (max-width: 700px) {
  .banner > div {
    background-position: center top !important;
  }
}
