.item {
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
  width: 1000px;
}

.left,
.right {
  display: flex;
}

.name_price {
  margin-left: 2em;
  align-self: center;
}

.right {
  align-self: center;
}

.remove {
  color: red;
  cursor: pointer;
}

.select {
  height: 50px;
  padding: 1em 1em;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  margin: 0em 3em;
}

.price {
  margin-left: 1em;
  margin-right: 1em;
}
