.review {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 1500px;
  align-self: center;
}

.title {
  font-size: 40px;
}

.top,
.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top {
  margin-bottom: 3em;
  padding-bottom: 1em;
}

.col1,
.col2 {
  margin-right: 3em;
}

.text {
  margin: 0;
  margin: 0.5em 0;
}

.bold {
  font-weight: 600;
}

.button {
  border: none;
  font-weight: 600;
  padding: 0 0;
  margin: 1em 0;
}

.card {
  display: flex;
  align-items: center;
}

.cardInfo {
  display: flex;
  flex-direction: column;
}

.cardP {
  max-width: 196px;
  line-height: 1.5em;
  margin: 0 1em;
}

.shipAdd {
  font-size: 13px;
}

.shipping,
.payment {
  margin-bottom: 1.5em;
}

.box {
  display: flex;
  flex-direction: column;
  width: 400px;
  box-shadow: -1px 2px 9px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-left: 3em;
}

.box__item {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}

.box__title {
  margin: 1.5em 1em;
}

.box__text {
  margin: 0.5em 0;
}

.border {
  border-bottom: solid 1px grey;
}

.center {
  align-self: center;
}

.box__button {
  margin-top: 1em;
  background-color: black;
  color: white;
  border-radius: 20px;
  font-weight: 600;
}

.footnote {
  font-size: 12px;
  text-align: center;
  margin: 1em 1em;
}

.flex {
  display: flex;
  height: 100px;
  margin-bottom: 2em;
}

.items {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content__text {
  margin: 0 0;
}

.image {
  margin-right: 1em;
}
.image span {
  border-radius: 10px !important;
}

.x {
  display: flex;
  justify-content: space-between;
}

.test {
  display: flex;
}

.shipText {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.shippingFootnote {
  font-size: 13px;
}

.shippingContainer {
  width: 450px;
}

.shippingTitle {
  margin-top: 0;
}
