.card {
  /* text-align: center; */
  margin: 1em 1em;
  max-width: 257px;
  /* border: solid 1px black; */
  box-shadow: 1.6px 1.6px 2.1px rgba(0, 0, 0, 0.013),
    3.4px 3.4px 4.3px rgba(0, 0, 0, 0.019),
    5.8px 5.8px 6.8px rgba(0, 0, 0, 0.023),
    8.7px 8.7px 9.5px rgba(0, 0, 0, 0.027),
    12.5px 12.5px 12.8px rgba(0, 0, 0, 0.03),
    17.7px 17.7px 16.9px rgba(0, 0, 0, 0.033),
    25.1px 25.1px 22.5px rgba(0, 0, 0, 0.037),
    36.5px 36.5px 30.9px rgba(0, 0, 0, 0.041),
    56.3px 56.3px 45.7px rgba(0, 0, 0, 0.047),
    100px 100px 80px rgba(0, 0, 0, 0.06);
}

.image {
  width: 257px;
  display: flex;
}

.content {
  max-width: 200px;
  margin: 0 0;
  padding-bottom: 0.5em;
  border-bottom: solid gray 1px;
  font-size: 0.9rem;
}

.info {
  display: flex;
}

.text {
  margin-left: 0.5em;
}

.text__name,
.text__date {
  margin: 0 0;
}

.text__name {
  font-size: 0.8rem;
}

.text__date {
  font-size: 0.8rem;
}

.bottom {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1.3em 1.3em;
  width: 257px;
}

.title {
  margin: 0 0;
  padding: 1em 0;
  max-width: 200px;
  font-size: 1.5rem;
}
