.about {
  width: 100%;
}

.about_title {
  text-align: center;
  margin: 0 0;
  margin-top: 2em;
  margin-bottom: 1em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button {
  width: 226px;
  margin: 0 auto;
}
