.flex {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 4em clamp(2rem, 10%, 30em);
  justify-content: space-around;
  border-top: double;
  border-bottom: double;
}

.header_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.about_title {
  text-align: center;
  margin: 0 0;
  padding-top: 2em;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: coral;
  font-size: 13px;
  letter-spacing: 0.23rem;
}

.left {
  max-width: clamp(500px, 60%, 1500px);
  margin: 2em 0;
}

.right {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  justify-content: space-evenly;
}

.text {
  line-height: 1.7em;
}

@media (max-width: 1049px) {
  .right {
    flex-direction: row;
    margin-bottom: 1em;
  }

  .left {
    margin: 0 0;
  }
}

@media (max-width: 615px) {
  .right {
    flex-direction: column;
  }
}
