.container {
  height: 100vh;
}

.buttons {
  font-size: clamp(10px, 1vw, 2rem);
  font-weight: 800;
  display: flex;
}

.buttons li {
  padding: 0 clamp(5px, 2vw, 1rem);
  list-style-type: none;
}

.buttons > li:first-of-type {
  padding: 0 0;
  padding-right: 15.5px;
}

.name {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16%;
  color: #fff;
}

.svg {
  padding-left: 30%;
  display: none;
}

.text {
  margin: 0 0;
}

.title_text {
  font-size: clamp(2rem, 7vw, 5rem);
  font-weight: 800;
}

.content_text {
  font-size: clamp(1.25rem, 4vw, 5rem);
  max-width: 90%;
  font-weight: 100;
}

.socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: inherit;
  justify-content: center;
  top: 0;
  left: 3em;
}

.line {
  position: absolute;
  border-right: 1px solid black;
  height: 30vh;
  left: 0.6rem;
}

.line_one {
  top: 13%;
}
.line_two {
  bottom: 13%;
}

@media (max-width: 694px) {
  .socials {
    top: auto;
    left: auto;
    bottom: 3em;
    right: 3em;
    justify-content: flex-end;
    color: white;
    height: 100px;
  }

  .line {
    display: none;
  }

  .svg {
    display: block;
  }
}
