.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  padding: 2em;
}

.banner {
  height: 100%;
  filter: brightness(70%);
}

.info {
  display: flex;
  flex-direction: column;
  padding: 2em 2em;
}

.info select {
  padding-left: 12px;
  padding-right: 36px;
  border-radius: 6px;
  box-shadow: 0 1px 6px 0 rgb(34 34 34 / 15%);
}

.image {
  padding: 2em 2em;
  max-width: 600px;
  align-self: center;
}

.image img {
  border: solid 5px white !important;
}

.name {
  font-size: 26px;
  font-weight: 600;
}

.price {
  margin: 0 0;
  font-size: 1.4rem;
}

.text {
  max-width: clamp(500px, 50vw, 800px);
  color: white;
  font-weight: 500;
}

.description {
  line-height: 1.5em;
  font-size: clamp(1rem, 2vw, 1.4rem);
}

.label {
  margin-bottom: 0.5em;
  align-self: center;
  color: white;
  font-weight: 600;
}

.select {
  width: 350px;
  max-width: 500px;
  padding: 1em;
  align-self: center;
}

.button {
  max-width: 450px;
  align-self: center;
  margin: 2em 0;
  color: black;
  border-color: white;
  background-color: white;
}

@media (max-width: 750px) {
  .flex {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .image {
    padding: 0 2em;
  }

  .info {
    padding: 0 2em;
  }

  .mobile {
    position: absolute;
    margin-top: 2em;
    z-index: 12;
  }
}

@media (max-width: 500px) {
  .flex {
    display: block;
  }
}

@media (max-width: 300px) {
  .select {
    width: 200px;
  }
}
