.carousel {
  margin: 33px 20%;
  box-shadow: 1.2px 0.9px 3.6px rgba(0, 0, 0, 0.017),
    3px 2.2px 7.7px rgba(0, 0, 0, 0.024), 5.6px 4.1px 12.8px rgba(0, 0, 0, 0.03),
    10.1px 7.4px 20.4px rgba(0, 0, 0, 0.036),
    18.8px 13.8px 34.8px rgba(0, 0, 0, 0.043),
    45px 33px 80px rgba(0, 0, 0, 0.06);
}

@media (max-width: 500px) {
  .carousel {
    margin: 0 0;
  }
}
