.top {
  height: 40vh;
}

.banner {
  height: 100%;
  filter: brightness(70%);
}

.test {
  color: white;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  height: inherit;
  width: 100%;
  padding-top: 2em;
  margin: 0 0;
}

.text {
  margin: 0 0;
  height: inherit;
  margin-top: -2em;
  transform: translate(-50%, 0);
  left: 50%;
  top: 50%;
  position: absolute;
  font-size: clamp(3rem, 7vw, 5rem);
}
