.background_picture,
.background_picture_header {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.background_picture_header {
  height: 25vh;
}

.background_picture img,
.background_picture_header img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.background_picture span,
.background_picture_header span {
  height: inherit !important;
  width: inherit !important;
}

.title {
  position: absolute;
  top: 45%;
  height: inherit;
  width: inherit;
  margin: 0 0;
  text-align: center;
  color: white;
}
