.menu {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 75vw;
  height: 100vh;
  animation-duration: 0.7s;
  animation-name: slidein;
  overflow: auto;
  overflow-y: hidden;
  border-radius: 10px;
  border: solid 1px black;
}

.navlist {
  display: flex;
  height: 90vh;
  list-style: none;
  margin: 2em 4em;
  flex-direction: column;
  justify-content: space-between;
}

.menu_button {
  position: fixed;
  top: 0;
  right: -30px;
  background: none;
  border: none;
  cursor: pointer;
  animation-duration: 0.7s;
  animation-name: slideout;
  z-index: 1;
}

.link_width {
  width: 45vw;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 0%;
  }

  to {
    margin-left: 0%;
    width: 75vw;
  }
}

@keyframes slideout {
  from {
    right: 100%;
  }

  to {
    right: -30px;
  }
}
