.grid,
.flex {
  /* background-color: #d7a86e; */
}

.grid {
  display: grid;
  padding: 2em 5%;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  grid-auto-flow: row;
  justify-content: center;
  max-width: 1700px;
}

.flex {
  padding: 2em 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
