.gallery {
  background-color: #cc704b;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 2em 2em;
}

.expand {
  cursor: pointer;
}

.expand:hover {
  opacity: 0.7;
}

@media (max-width: 650px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
