.background {
  background-color: #d7a86e;
  padding-top: 10em;
}

.post {
  background-color: white;
  margin: 0 5vw;
  position: relative;
  padding: 2em 1em;
}

.start {
  display: flex;
  flex-direction: column;
}

.post__info {
  display: flex;
  margin-bottom: 1em;
}

.post__info svg {
  align-self: center;
}

.post__info__text {
  display: flex;
}

.joy,
.date,
.time {
  font-size: 14px;
  margin: 0 1em;
  align-self: center;
}

.title {
  font-size: clamp(1rem, 2vw, 2rem);
  margin-bottom: 1em;
}

.title h1 {
  margin: 0 0;
}

.author {
  font-size: 14px;
  margin-bottom: 2em;
}

.image {
  align-self: center;
  margin-bottom: 1em;
}

.content {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.content__text {
  align-self: center;
  justify-self: center;
  max-width: 1085px;
  line-height: 2em;
  font-size: clamp(0.9rem, 1vw, 1.3rem);
  text-align: justify;
  white-space: pre-wrap;
}

.socials {
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
  padding: 1.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials a {
  margin: 0 1em;
}

.seeAll {
  width: 200px;
}

@media (min-width: 1200px) {
  .post {
    margin: 0 15%;
  }
}

@media (min-width: 1600px) {
  .post {
    margin: 0 25%;
  }
}

@media (max-width: 370px) {
  .joy,
  .date,
  .time {
    margin: 0 0;
  }

  .date {
    width: 79px;
  }

  .time {
    width: 75px;
  }
}
