.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navlinks {
  display: grid;
  margin-right: 2rem;
  list-style: none;
  grid-template-columns: repeat(7, fit-content);
  gap: 30px;
  padding: 0 0;
  grid-auto-flow: column;
  margin-top: 1em;
}

.links {
  font-size: clamp(1rem, 1vw, 2rem);
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.cart {
  color: white;
}
.cart::marker {
  color: transparent;
}

.mobilenav {
  display: none;
}

.important {
  background-color: black;
  border-radius: 50%;
  padding: 0 1em;
  color: white;
}

@media (max-width: 778px) {
  .navlinks {
    display: none;
  }

  .mobilenav {
    display: block;
  }
}
