.logo {
  margin: 1rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
  font-size: clamp(1rem, 1vw, 2rem);
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
