html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0 0;
  margin: 0 0;
}

svg {
  min-width: 0px;
  max-width: 75px;
}

nav {
  align-self: baseline;
}
