html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0 0;
  margin: 0 0;
}

svg {
  min-width: 0px;
  max-width: 75px;
}

nav {
  align-self: baseline;
}

button {
  background: none;
  border: solid black 1px;
  padding: 10px 48px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  opacity: 0.7;
}
