.flex,
.event {
  display: flex;
  flex-wrap: wrap;
}

.flex .event:nth-child(2n) {
  flex-direction: row-reverse;
}

.event {
  width: 100%;
}

.image {
  width: 50%;
  filter: brightness(70%);
}

.image span {
  display: block !important;
}

.banner {
  height: 100%;
}

.content {
  background-color: lightgreen;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__title {
  font-size: clamp(1rem, 3vw, 4rem);
}

.content__description {
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  padding: 1em 1em;
  line-height: 1.8em;
}

.content__location,
.content__date {
  font-size: clamp(0.8rem, 1vw, 1.2rem);
}

.content__date {
  padding-bottom: 1em;
}

.content__link {
  margin-bottom: 1em;
  border: solid 1px black;
  padding: 1em 2em;
  font-weight: 800;
}

@media (max-width: 880px) {
  .content {
    width: 100%;
  }

  .image {
    width: 100%;
    height: 300px;
  }

  .banner {
    height: 100%;
  }
}
